@import url("styles.css");
.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

/* Секции */
.amenities {
  padding: 50px 20px;
  text-align: center;
}

.amenities h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: rgb(56, 114, 240);
}

.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);

}
.item {
  font-size: larger;
  font-weight: 500;
  font-family: "Inter", sans-serif; ;
  background: #fff;
  border-radius: 12px;
  padding: 35px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
}

.item img {
  transition: transform 0.3s ease;
}
.item:hover img {
  transform: scale(1.05);
}

.card {
  background: #fff;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.img-resp {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.img-resp-gallery{
  max-width: 100%;
  height: 100%;
  border-radius: 8px;
  /* margin-bottom: 10px; */
}


  .grid {
    grid-template-columns: repeat(3, 1fr);
  }



.booking-form {
  display: grid;
  gap: 15px;
  max-width: 500px;
  margin: 0 auto;
}

.field {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.field span {
  margin-bottom: 5px;
  font-weight: bold;
}

.booking-form input,
.booking-form select {
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 6px;
}

.booking-form button {
  padding: 12px;
  background: rgb(56, 114, 240);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}

.booking-form button:hover {
  background: #315fcc;
}


 /*SPA GALLERY STYLE*/

  .spa-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 16px;
  max-width: 1100px;
  margin: 0 auto;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.gallery-item img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  display: block;
}

.gallery-item figcaption {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: flex-end;
  padding: 10px;
  font-size: 0.9rem;
  color: #fff;
  background: linear-gradient(transparent, rgba(0,0,0,.6));
  opacity: 0;
  transition: opacity .3s;
}

.gallery-item:hover figcaption {
  opacity: 1;
}


